body {
    color: #002254;
    background: #FBEFE5;
    font-family: 'DM Sans', sans-serif;
    background-image: url("../img/topography_contour_map.svg");
}

#header {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    /* or 27px */
    letter-spacing: 0.01em;
    /* Blue */
    color: #002254;
}

#header h1 {
    /*
    position: absolute;
    width: 788.14px;
    height: 181.76px;
    left: 328.86px;
    top: 293.14px;
    */
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 102px;
    line-height: 80%;
    /* or 82px */
    text-transform: uppercase;
    /* Brown */
    color: #D34343;
}

#header h2 {
    /*
    position: absolute;
    left: 16.3%;
    right: 15.93%;
    top: 88.71%;
    bottom: 3.56%;
    */
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 80%;
    /* or 26px */
    /* Brown */
    color: #D34343;
    text-transform: none;
}

#volumimigrazione {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    /* or 27px */
    letter-spacing: 0.01em;
    /* Blue */
    color: #002254;
}

#volumimigrazione h2 {
    font-family: 'Alike Angular', serif;
    font-weight: 400;
    font-size: 102px;
    line-height: 80%;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 80%;
    color: #D34343;
}

#provenienze {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    /* or 27px */
    letter-spacing: 0.01em;
    /* Beige */
    color: #FBEFE5;
    /* Blue */
    background: #002254;
    opacity: 0.75;
}

#provenienze h2 {
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 80%;
    /* or 26px */
    text-align: center;
    text-transform: uppercase;
    color: #FBEFE5;
}

#mestieri h2 {
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 80%;
    /* or 26px */
    text-align: center;
    text-transform: uppercase;
    /* Blue */
    color: #002254;
}

#uominidonne {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    /* or 27px */
    letter-spacing: 0.01em;
    /* Blue */
    color: #002254;
}

#uominidonne h2 {
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 80%;
    /* or 26px */
    text-align: center;
    text-transform: uppercase;
    /* Blue */
    color: #002254;
}

#genere {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    /* or 27px */
    letter-spacing: 0.01em;
    /* Blue */
    color: #002254;
}

#genere h2 {
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 80%;
    /* or 26px */
    text-align: center;
    text-transform: uppercase;
    /* Blue */
    color: #002254;
}

#testimonianze {
    /* Brown */
    font-size: 17px;
    background: #D34343;
    position: absolute;
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 160%;
    /* or 59px */
    letter-spacing: 0.01em;
    /* Blue */
    color: #002254;
}

#testimonianze h2 {
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 80%;
    /* or 26px */
    text-align: center;
    text-transform: uppercase;
    color: #FBEFE5;
    padding-bottom: 3em;
}

#esploradati h2 {
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 80%;
    /* or 26px */
    text-align: center;
    text-transform: uppercase;
    /* Blue */
    color: #002254;
}

#esploradati {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 230%;
    /* or 32px */
    letter-spacing: 0.01em;
    text-transform: uppercase;
    /* Blue */
    color: #002254;
}

#footer {
    /* Blue */
    color: #FBEFE5;
    background: #002254;
    opacity: 0.75;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    /* or 27px */
    letter-spacing: 0.01em;
    color: #FBEFE5;
}

#footer h2 {
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 80%;
    /* or 26px */
    text-transform: uppercase;
}